@* <div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Data premiery:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.ReleaseDate.ToString("MM/dd/yyyy") r.</div>
</div> 
<br /> *@
<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Wymiary:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.ScreenDiagonal</div>
</div>
<br />
<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Rozdzielczość</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.Resolution @ViewBag.Product.ResolutionUnit</div>
</div>
<br />
<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Megapikseli:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.MatrixType</div>
</div>
<br />