@model MoonlightShadow.ViewModels.Products.ProductsViewModel
@{
    ViewData["Title"] = "Sprzedaj";
}

@await Html.PartialAsync("~/Views/Sale/SaleModals/ConfirmSaleCameraModal.cshtml", Model)
@await Html.PartialAsync("~/Views/Sale/SaleModals/ConfirmSaleGameModal.cshtml", Model)
@await Html.PartialAsync("~/Views/Sale/SaleModals/ConfirmSaleLaptopModal.cshtml", Model)
@await Html.PartialAsync("~/Views/Sale/SaleModals/ConfirmSalePhoneModal.cshtml", Model)

@if (TempData.ContainsKey("ShowModal"))
{
    string modalName = (string)TempData["ShowModal"];
                        
    <script>
        $(document).ready(function () {
            $('#@modalName').modal("show");
        });
    </script>
}

<div class="page row">
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="account-panel">
            <div class="sign-in-panel-title">
                <i class="bi bi-camera-fill"></i>
                Wystaw aparat na sprzedaż
                <hr />
            </div>

            <div class="sign-in-panel-input">
                @using (Html.BeginForm("Index", "Sale", FormMethod.Post, new { enctype ="multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Dane produktu</h6>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.Name)
                                @Html.TextBoxFor(o => o.Camera.Name, new { @class="form-control", @placeholder="Wprowadź nazwę produktu" })
                                @Html.ValidationMessageFor(o => o.Camera.Name)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.Price)
                                @Html.TextBoxFor(o => o.Camera.Price, new { @class="form-control", @placeholder="Wprowadź cene produktu" })
                                @Html.ValidationMessageFor(o => o.Camera.Price)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.Brand)
                                @Html.TextBoxFor(o => o.Camera.Brand, new { @class="form-control", @placeholder="Wprowadź markę" })
                                @Html.ValidationMessageFor(o => o.Camera.Brand)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.Model)
                                @Html.TextBoxFor(o => o.Camera.Model, new { @class="form-control", @placeholder="Wprowadź model" })
                                @Html.ValidationMessageFor(o => o.Camera.Model)
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.Description)
                                @Html.TextAreaFor(o => o.Camera.Description, new { @class="form-control", @placeholder="Wprowadź opis produktu" })
                                @Html.ValidationMessageFor(o => o.Camera.Description)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                
                                <input type="file" name="postedFiles" class="form-control" multiple placeholder="Dodaj zdjęcie produktu" />
                                
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.Weight)
                                @Html.TextBoxFor(o => o.Camera.Weight, new { @class="form-control", @placeholder="Wprowadź wagę produktu" })
                                @Html.ValidationMessageFor(o => o.Camera.Weight)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.WeightUnit)
                                @Html.TextBoxFor(o => o.Camera.WeightUnit, new { @class="form-control", @placeholder="Wprowadź jednostkę wagi" })
                                @Html.ValidationMessageFor(o => o.Camera.WeightUnit)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.Dimensions.X)
                                @Html.TextBoxFor(o => o.Camera.Dimensions.X, new { @class="form-control", @placeholder="Wprowadź rozmiar X" })
                                @Html.ValidationMessageFor(o => o.Camera.Dimensions.X)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.Dimensions.Y)
                                @Html.TextBoxFor(o => o.Camera.Dimensions.Y, new { @class="form-control", @placeholder="Wprowadź rozmiar Y" })
                                @Html.ValidationMessageFor(o => o.Camera.Dimensions.Y)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.Dimensions.Z)
                                @Html.TextBoxFor(o => o.Camera.Dimensions.Z, new { @class="form-control", @placeholder="Wprowadź rozmiar Z" })
                                @Html.ValidationMessageFor(o => o.Camera.Dimensions.Z)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.DimensionUnit)
                                @Html.TextBoxFor(o => o.Camera.DimensionUnit, new { @class="form-control", @placeholder="Wprowadź jednostkę rozmiaru" })
                                @Html.ValidationMessageFor(o => o.Camera.DimensionUnit)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.Resolution)
                                @Html.TextBoxFor(o => o.Camera.Resolution, new { @class="form-control", @placeholder="Wprowadź rozdzielczość produktu" })
                                @Html.ValidationMessageFor(o => o.Camera.Resolution)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.ResolutionUnit)
                                @Html.TextBoxFor(o => o.Camera.ResolutionUnit, new { @class="form-control", @placeholder="Wprowadź jednostkę rozdzielczości" })
                                @Html.ValidationMessageFor(o => o.Camera.ResolutionUnit)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Camera.Megapiksels)
                                @Html.TextBoxFor(o => o.Camera.Megapiksels, new { @class="form-control", @placeholder="Wprowadź ilość megapikseli" })
                                @Html.ValidationMessageFor(o => o.Camera.Megapiksels)
                            </div>
                        </div>
                    </div>

                    <input id="TypeOfModel" name="TypeOfModel" type="hidden" value="Camera">

                    <div class="row mt-4">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Sprzedaj</button>
                            </div>
                        </div>
                    </div>
                }   
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="account-panel">
            <div class="sign-in-panel-title">
                <i class="bi bi-play-circle-fill"></i>
                Wystaw gre na sprzedaż
                <hr />
            </div>

            <div class="sign-in-panel-input">
                @using (Html.BeginForm("Index", "Sale", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Dane produktu</h6>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Game.Name)
                                @Html.TextBoxFor(o => o.Game.Name, new { @class="form-control", @placeholder="Wprowadź nazwę produktu" })
                                @Html.ValidationMessageFor(o => o.Game.Name)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Game.Price)
                                @Html.TextBoxFor(o => o.Game.Price, new { @class="form-control", @placeholder="Wprowadź cene produktu" })
                                @Html.ValidationMessageFor(o => o.Game.Price)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Game.Brand)
                                @Html.TextBoxFor(o => o.Game.Brand, new { @class="form-control", @placeholder="Wprowadź markę" })
                                @Html.ValidationMessageFor(o => o.Game.Brand)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Game.Model)
                                @Html.TextBoxFor(o => o.Game.Model, new { @class="form-control", @placeholder="Wprowadź model" })
                                @Html.ValidationMessageFor(o => o.Game.Model)
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Game.Description)
                                @Html.TextAreaFor(o => o.Game.Description, new { @class="form-control", @placeholder="Wprowadź opis produktu" })
                                @Html.ValidationMessageFor(o => o.Game.Description)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Game.OperatingSystem)
                                @Html.TextBoxFor(o => o.Game.OperatingSystem, new { @class="form-control", @placeholder="Wprowadź system operacyjny" })
                                @Html.ValidationMessageFor(o => o.Game.OperatingSystem)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Game.Platform)
                                @Html.TextBoxFor(o => o.Game.Platform, new { @class="form-control", @placeholder="Wprowadź platformę do grania" })
                                @Html.ValidationMessageFor(o => o.Game.Platform)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Game.Languages)
                                @Html.TextBoxFor(o => o.Game.Languages, new { @class="form-control", @placeholder="Wprowadź dostępne języki gry" })
                                @Html.ValidationMessageFor(o => o.Game.Languages)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Game.GraphicsCardRequirements)
                                @Html.TextBoxFor(o => o.Game.GraphicsCardRequirements, new { @class="form-control", @placeholder="Wprowadź wymaganą kartę graficzną" })
                                @Html.ValidationMessageFor(o => o.Game.GraphicsCardRequirements)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Game.RamRequirements)
                                @Html.TextBoxFor(o => o.Game.RamRequirements, new { @class="form-control", @placeholder="Wprowadź wymaganą ilość ramu" })
                                @Html.ValidationMessageFor(o => o.Game.RamRequirements)
                            </div>
                        </div>
                    </div>

                    <input id="TypeOfModel" name="TypeOfModel" type="hidden" value="Game">

                    <div class="row mt-4">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Sprzedaj</button>
                            </div>
                        </div>
                    </div>
                }   
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="account-panel">
            <div class="sign-in-panel-title">
                <i class="bi bi-laptop"></i>
                Wystaw laptop na sprzedaż
                <hr />
            </div>

            <div class="sign-in-panel-input">
                @using (Html.BeginForm("Index", "Sale", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Dane produktu</h6>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Laptop.Name)
                                @Html.TextBoxFor(o => o.Laptop.Name, new { @class="form-control", @placeholder="Wprowadź nazwę produktu" })
                                @Html.ValidationMessageFor(o => o.Laptop.Name)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Laptop.Price)
                                @Html.TextBoxFor(o => o.Laptop.Price, new { @class="form-control", @placeholder="Wprowadź cene produktu" })
                                @Html.ValidationMessageFor(o => o.Laptop.Price)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Laptop.Brand)
                                @Html.TextBoxFor(o => o.Laptop.Brand, new { @class="form-control", @placeholder="Wprowadź markę" })
                                @Html.ValidationMessageFor(o => o.Laptop.Brand)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Laptop.Model)
                                @Html.TextBoxFor(o => o.Laptop.Model, new { @class="form-control", @placeholder="Wprowadź model" })
                                @Html.ValidationMessageFor(o => o.Laptop.Model)
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Laptop.Description)
                                @Html.TextAreaFor(o => o.Laptop.Description, new { @class="form-control", @placeholder="Wprowadź opis produktu" })
                                @Html.ValidationMessageFor(o => o.Laptop.Description)
                            </div>
                        </div>

                        <!--
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                Html.LabelFor(o => o.Laptop.Image)
                                <input type="file" asp-for="Laptop.Image" class="form-control" placeholder="Dodaj zdjęcie produktu" />
                                Html.ValidationMessageFor(o => o.Laptop.Image)
                            </div>
                        </div>
                        -->
                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Laptop.OperatingSystem)
                                @Html.TextBoxFor(o => o.Laptop.OperatingSystem, new { @class="form-control", @placeholder="Wprowadź system operacyjny" })
                                @Html.ValidationMessageFor(o => o.Laptop.OperatingSystem)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Laptop.Screen.Diagonal.Value)
                                @Html.TextBoxFor(o => o.Laptop.Screen.Diagonal.Value, new { @class="form-control", @placeholder="Wprowadź przekątną ekranu" })
                                @Html.ValidationMessageFor(o => o.Laptop.Screen.Diagonal.Value)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Laptop.Screen.Diagonal.UnitValue)
                                @Html.TextBoxFor(o => o.Laptop.Screen.Diagonal.UnitValue, new { @class="form-control", @placeholder="Wprowadź jednostkę przekątnej ekranu" })
                                @Html.ValidationMessageFor(o => o.Laptop.Screen.Diagonal.UnitValue)
                            </div>
                        </div>
                    </div>

                    <input id="TypeOfModel" name="TypeOfModel" type="hidden" value="Laptop">

                    <div class="row mt-4">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Sprzedaj</button>
                            </div>
                        </div>
                    </div>
                }   
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="account-panel">
            <div class="sign-in-panel-title">
                <i class="bi bi-phone-fill"></i>
                Wystaw telefon na sprzedaż
                <hr />
            </div>

            <div class="sign-in-panel-input">
                @using (Html.BeginForm("Index", "Sale", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Dane produktu</h6>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Phone.Name)
                                @Html.TextBoxFor(o => o.Phone.Name, new { @class="form-control", @placeholder="Wprowadź nazwę produktu" })
                                @Html.ValidationMessageFor(o => o.Phone.Name)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Phone.Price)
                                @Html.TextBoxFor(o => o.Phone.Price, new { @class="form-control", @placeholder="Wprowadź cene produktu" })
                                @Html.ValidationMessageFor(o => o.Phone.Price)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Phone.Brand)
                                @Html.TextBoxFor(o => o.Phone.Brand, new { @class="form-control", @placeholder="Wprowadź markę" })
                                @Html.ValidationMessageFor(o => o.Phone.Brand)
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Phone.Model)
                                @Html.TextBoxFor(o => o.Phone.Model, new { @class="form-control", @placeholder="Wprowadź model" })
                                @Html.ValidationMessageFor(o => o.Phone.Model)
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                @Html.LabelFor(o => o.Phone.Description)
                                @Html.TextAreaFor(o => o.Phone.Description, new { @class="form-control", @placeholder="Wprowadź opis produktu" })
                                @Html.ValidationMessageFor(o => o.Phone.Description)
                            </div>
                        </div>
                    </div>

                    <input id="TypeOfModel" name="TypeOfModel" type="hidden" value="Phone">

                    <div class="row mt-4">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Sprzedaj</button>
                            </div>
                        </div>
                    </div>
                }   
            </div>
        </div>
    </div>
</div>