@model MoonlightShadow.ViewModels.Administrator.AdministratorViewModel;
@{
    ViewData["Title"] = "Konto";
}
<div class="page row">
    <div class="col-md-12">
        <div class="shoping-cart-panel">
            <div class="shoping-cart-panel-title text-center"
                style="background-image: url('https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');">
                <i class="bi bi-cash-stack"></i>
                <br />
                Płatności do zatwierdzenia
            </div>
            <div class="shopping-cart-panel-summary">
                @if (Model.PaymentTransactions.Count() == 0)
                {
                    <div class="fs-2 fw-bold text-center">Brak zamówień do zatwierdzenia</div>
                }
                else
                {
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Nazwa transakcji</th>
                                <th scope="col">List produktów</th>
                                <th scope="col">Cena</th>
                                <th scope="col">Zatwierdź płatność</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transaction in Model.PaymentTransactions)
                            {
                                <tr>
                                    <td>@transaction.BoughtOrder.TitleTransaction</td>
                                    <td>
                                        @foreach (var product in transaction.BoughtOrder.ProductItems)
                                        {
                                            @product.Name
                                            <br>
                                        }
                                    </td>
                                    <td>@transaction.BoughtOrder.FullPrice zł</td>
                                    <td>
                                        <a asp-controller="Payment" asp-action="AcceptTransaction" asp-route-id="@transaction.Id">
                                            <button class="btn btn-dark btn-shop-control">
                                                <i class="bi bi-check-square-fill"></i>
                                                Zatwierdź
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="shoping-cart-panel">
            <div class="shoping-cart-panel-title text-center"
                style="background-image: url('https://images.unsplash.com/photo-1607166452427-7e4477079cb9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');">
                <i class="bi bi-box"></i>
                <br />
                Zamówienia do wysyłki
            </div>
            <div class="shopping-cart-panel-summary">
                @if (Model.ShippmentTransactions.Count() == 0)
                {
                    <div class="fs-2 fw-bold text-center">Brak zamówień do wysyłki</div>
                }
                else
                {
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Nazwa transakcji</th>
                                <th scope="col">List produktów</th>
                                <th scope="col">Cena</th>
                                <th scope="col">Potwierdź wysyłkę</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transaction in Model.ShippmentTransactions)
                            {
                                <tr>
                                    <td>@transaction.BoughtOrder.TitleTransaction</td>
                                    <td>
                                        @foreach (var product in transaction.BoughtOrder.ProductItems)
                                        {
                                            @product.Name
                                            <br>
                                        }
                                    </td>
                                    <td>@transaction.BoughtOrder.FullPrice zł</td>
                                    <td>
                                        <a asp-controller="Payment" asp-action="ConfirmShippment" asp-route-id="@transaction.Id">
                                            <button class="btn btn-dark btn-shop-control">
                                                <i class="bi bi-check-square-fill"></i>
                                                Potwierdź wysyłkę
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>